@font-face {
    font-family: euclidr;
    src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
    font-family: euclidb;
    src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}
@font-face {
    font-family: ny;
    src: url(../fonts/NewYork\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: icon;
    src: url(../fonts/fa-solid-900.woff2);
}

:root {
    --bgcolor: #272422;
    --txtcolor: #ffffff;
    --accentcolor: #E8BF96;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}
a{
    text-decoration: none;
    color: var(--txtcolor);
    font-family: euclidr,Arial, Helvetica, sans-serif;
    font-size: 0.833vw;
}
img{
    max-width: 100%;
}
span{
    color: var(--accentcolor);
}
h1{
    font-family: ny,Arial, Helvetica, sans-serif;
    font-size: 10.41vw;
    margin-bottom: 4rem;
    line-height: 0.9em;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
}
h2{
    font-family: ny,Arial, Helvetica, sans-serif;
    font-size: 4.8rem;
    font-weight: 400;
}
nav{
    padding-right: 2.6vw;
    padding-left: 2.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 5;
    transition: .5s;

}
.menu-block a{
    padding:0 2rem;
    transition: color 300ms ease;
    font-family: euclidb,Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.menu-block a:hover{
    color: var(--accentcolor);
}
.menu-block{
    display: flex;
    flex-direction: row;
}
.playbutton{
    width: 10rem;
    height: 10rem;
    border: 1.2px var(--txtcolor) solid;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--accentcolor);
    font-size: 1.8rem;
    font-family: icon;
    z-index: 4;
}
header{
    background:url(../img/19.png) center no-repeat;
    background-position: 50% 0%;
    background-size: 67.29vw;
    height: 100vh;
}

.heroshape img{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 4.58vw;
    margin-bottom: 13.33vw;
}

/* ABOUT */
.about{
    width: 67.18vw;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    margin-top: 25rem;
}
.aboutcontent{
    border-top: 1px solid #3f3a36;
    border-bottom: 1px solid #3f3a36;
    padding-top: 5.78vw;
    padding-bottom: 7.86vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutcontent h2{
    padding-bottom: 1.04vw;
    font-size: 5.2vw;
    font-weight: 400;
    text-align: center;
    line-height: 1.1em;
    width: 43.43vw;
}
.aboutcontent p{
    margin-bottom: 1rem;
    width: 32.81vw;
    margin-right: auto;
    margin-left: auto;
    color: #999;
    text-align: center;
    line-height: 1.55em;
    font-weight: 400;
    font-family: euclidr;
    font-size: 1.6rem;
    margin-bottom: 3.28vw;
}
.aboutcontent a{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3c3636;
    border-radius: 60%;
    width: 9.89vw;
    height: 4.68vw;
    transition: all 300ms ease;
    font-weight: 400;
}
.about .aboutcontent a:hover {
    border-color: #e8bf96;
    background-color: #e8bf96;
    color: #121212;
}

/* WORKS */
.works {
    width: 67.18vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
}
.works h2{
    padding-bottom: 1.04vw;
    font-size: 5.2vw;
    font-weight: 400;
    line-height: 1.1em;
    width: 13.43vw;
}
.workcontent .borderline div{
    height:1px;
    background-color: var(--txtcolor);
    width: 9vw;

}
.workcontent{
    display: grid;
    grid-auto-columns: 1fr;
    row-gap: 1.6rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items:  first baseline;
}
.borderline{
    display: flex;
    align-items: flex-start;
    padding-left: 5.72vw;
    gap: 3rem;
}
.borderline p{
    margin-bottom: 1rem;
    width: 32.81vw;
    margin-right: auto;
    margin-left: auto;
    color: #999;
    line-height: 1.55em;
    font-weight: 400;
    font-family: euclidr;
    font-size: 1.6rem;
    margin-bottom: 3.28vw;
}
.workcontent a {
    display:flex;
    justify-content:center;
    justify-self: end;
    align-items: center;
    border: 1px solid #3c3636;
    border-radius: 60%;
    width: 9.89vw;
    height: 4.68vw;
    transition: all 300ms ease;
    font-weight: 400;
}
.workcontent a:hover {
    border-color: #e8bf96;
    background-color: #e8bf96;
    color: #121212;
}
.projectgrid1,.projectgrid2{
    display: flex;
    justify-content: space-between;
    gap: 35rem;
    height: 100vh;
    margin-bottom: 80rem;
}
.projectgrid1 div:first-of-type{
    background:url(../img/1.jpeg)no-repeat center;
    background-size:cover;
    height: 145vh;
    width: 40vw;
}
.projectgrid1 div:last-of-type{
    background:url(../img/2.jpeg)no-repeat center;
    background-size:cover;
    height: 80%;
    width: 40%;
}
.projectgrid2 div:first-of-type{
    background:url(../img/4.jpeg)no-repeat center;
    background-size:cover;
    height: 80%;
    width: 40%;
}
.projectgrid2 div:last-of-type{
    background:url(../img/5.jpeg)no-repeat center;
    background-size:cover;
    height: 145vh;
    width: 40vw;
}
.servicesbottomcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicesbottomcontent div:first-of-type, .servicesbottomcontent div:last-of-type{
    color: #fff;
    font-size: 0.93vw;
    font-weight: 800;
    font-family: euclidr;
}
.servicesbottomcontent div:nth-child(2), .servicecolumn p{
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: euclidr;
}

/* NEW HERO*/
.heroblock2{
    display:flex;
    flex-direction: row;
    height: 95%;
    padding: 25rem 31.5rem;
    justify-content: center;
}
.herotitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    z-index: 1;
    max-width: 60vw;
}
.herotitle h2{
    max-width: 17.4vw;
    font-size: 2.08vw;
    text-align: center;
}
.contentbox{
    position: relative;
    height: 40vh;
}
.leftpic{
    position: absolute;
    top: -100%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.rightpic{
    position: absolute;
    top: -157%;
    left: 72%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

.wrapper{
    overflow: hidden;
}
.rightpic img{
    margin-top:-130px;
    
}
.rightpic p{
    font-size: 0.93vw;
    color: #999;
    line-height: 1.55em;
    font-weight: 500;
    font-family: euclidr;
    position: absolute;
    top: 165%;
    width: 15vw;
    left: 35%;
}
.rightpic span{
    color: white;
}
.fashionbox{
    position: absolute;
    top: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    
}
.fashionbox div:last-of-type{
    width: 7.29vw;
    margin-bottom: 0.71vw;
    color: #fff;
    font-size: 1.25vw;
    font-family: euclidr;
}
.middlepic{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.middlepic img:first-of-type{
    position: absolute;
    top: -11%;
    left:-16%;
}

/* SERVICE */
.service{
    width: 67.18vw;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    position: relative;
}
.servicecolumn{
    position: relative;
}
.servicecolumn div{
    display:block;
    text-align: center;
    margin-bottom: 7rem;
}
.servicecolumn h2{
    font-size: 5.2vw;
    line-height: 1.1em;
    font-weight: 400;
}
.leftimagecontainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 80vh;
    position: relative;
}
.rightimagecontainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 80vh;
    position: relative;
}
.leftimagecontainer, .rightimagecontainer{
    width: 25%;
}
.img1 {
    background-image: url(../img/17.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: -630px;
}
.img2 {
    background-image: url(../img/20.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: -630px;
}
.img3 {
    background-image: url(../img/15.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: -630px;
}
.img4 {
    background-image: url(../img/21.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: -630px;
}
.img5 {
    background-image: url(../img/16.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    top:0;
    right: -630px;
}
.img6 {
    background-image: url(../img/13.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    top:0;
    right: -630px;
}
.img7 {
    background-image: url(../img/22.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    top:0;
    right: -630px;
}
.img8 {
    background-image: url(../img/20.jpeg);
    background-size: cover;
    height: 60%;
    width: 65%;
    position: absolute;
    opacity: 0;
    top:0;
    right: -630px;
}

.servicecolumn div:hover{
    cursor: pointer;
    color: var(--accentcolor);
    transition: color 0.4s ease;
}
.costume:hover >.img1, .costume:hover >.img5,.acting:hover >.img2, .acting:hover >.img6,.modelling:hover >.img3, .modelling:hover >.img7,.artist:hover >.img4, .artist:hover >.img8 {
    transition: all 0.4s ease-in-out;
    opacity: 1;
    border-radius: 20px;
    box-shadow:  16px 14px 48px #00000069;
}